<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/css/style.css'/>
       
    </head>
    <body>
        {{>header}}
        
        <p>created by{{name}}</p>
        <form>
            <input placeholder="location">
            <button>serch</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
        {{>footer}}

         <script src="/js/script.js"></script>
    </body>
</html>